::-webkit-scrollbar {
  width: 12px;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}


::-webkit-scrollbar-thumb {
  background: #88888860;
  border-radius: 50px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.BodyReader {
  margin: 2%;
  color: white;
}

.inside-container {
  display: flex;
  flex-direction: row;
  border: 0px red solid;
  width: 100%;
  height: 90vh;
  gap: 5%
}

.left {
  display: flex;
  gap: 10%;
  flex-direction: column;
  width: 70%;
}

.camera-box {
  border-radius: 30px;
  background-color: #282b30;
  height: 80%;
  display: flex;
  border: 0px white solid;
  justify-content: center;
  align-items: center;
}

.side-bar {
  border-radius: 30px;
  padding: 2%;
  box-sizing: border-box;
  background-color: #282b30;
  display: flex;
  flex-direction: column;
  border: 0px white solid;
  height: 100%;
}

.feedback {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: white solid 0px;
  width: 100%;
  height: 85%;
  gap: 3%;
}

.message-container {
  border: 0px red solid;
  display: flex;
  flex-direction: row-reverse;
}

.message {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  background-color: #4567c4;
  border-color: transparent;

  
  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0; /* Create triangle shape */
    border-color: transparent #4567c4 transparent transparent; /* Match background color */
  }
}

.side-prompt {
    border: red solid 0px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 3%;
    border-radius: 30px;
    height: 50%;
    border: 0px white solid;
    width: 100%;
    background-color: #424549	;
}

.right {
    width: 30%;
}

.bottom-bar {
    border-radius: 30px;
    background-color: #282b30;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px white solid;
}

.imessage {
    background-color: #fff;
    border: 1px solid #e5e5ea;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-family: "SanFrancisco";
    font-size: 1.25rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    padding: 0.5rem 1.5rem;
  }
  
  .imessage p {
    border-radius: 1.15rem;
    line-height: 1.25;
    max-width: 75%;
    padding: 0.5rem .875rem;
    position: relative;
    word-wrap: break-word;
  }
  
  .imessage p::before,
  .imessage p::after {
    bottom: -0.1rem;
    content: "";
    height: 1rem;
    position: absolute;
  }
  
  p.from-me {
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff; 
  }
  
  p.from-me::before {
    border-bottom-left-radius: 0.8rem 0.7rem;
    border-right: 1rem solid #248bf5;
    right: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-me::after {
    background-color: #fff;
    border-bottom-left-radius: 0.5rem;
    right: -40px;
    transform:translate(-30px, -2px);
    width: 10px;
  }
  
  p[class^="from-"] {
    margin: 0.5rem 0;
    width: fit-content;
  }
  
  p.from-me ~ p.from-me {
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:not(:last-child) {
    margin: 0.25rem 0 0;
  }
  
  p.from-me ~ p.from-me:last-child {
    margin-bottom: 0.5rem;
  }
  
  p.from-them {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
  }
  
  p.from-them:before {
    border-bottom-right-radius: 0.8rem 0.7rem;
    border-left: 1rem solid #e5e5ea;
    left: -0.35rem;
    transform: translate(0, -0.1rem);
  }
  
  p.from-them::after {
    background-color: #fff;
    border-bottom-right-radius: 0.5rem;
    left: 20px;
    transform: translate(-30px, -2px);
    width: 10px;
  }
  
  .no-tail::before {
    display: none;
  }
  
  .margin-b_none {
    margin-bottom: 0 !important;
  }
  
  .margin-b_one {
    margin-bottom: 1rem !important;
  }
  
  .margin-t_one {
    margin-top: 1rem !important;
  }