::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  background-color: transparent;
}


::-webkit-scrollbar-thumb {
  background: #b3b3b325;
  border-radius: 50px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.BodyReader {
  margin: 2%;
  color: white;
}

.inside-container {
  display: flex;
  flex-direction: row;
  border: 0px red solid;
  width: 100%;
  height: 90vh;
  gap: 5%
}

.left {
  display: flex;
  gap: 10%;
  flex-direction: column;
  width: 70%;
}

.camera-box {
  border-radius: 30px;
  background-color: transparent;
  height: 80%;
  display: flex;
  border: 0px white solid;
}

.side-bar {
  border-radius: 30px;
  padding: 2%;
  box-sizing: border-box;
  background-color: #282b30;
  display: flex;
  flex-direction: column;
  border: 0px white solid;
  height: 100%;
}

.feedback {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border: white solid 0px;
  width: 100%;
  height: 85%;
  gap: 3%;
}

.user-message-container {
  display: flex;
  flex-direction: row-reverse;
}

.ai-message-container {
  display: flex;
  flex-direction: row;
}

.user-message {
  display: flex;
  
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  background-color: #4567c4;
  border-color: transparent;
}

.ai-message {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  background-color: #535353;
  border-color: transparent;
}

.side-prompt {
    border: red solid 0px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 3%;
    border-radius: 30px;
    height: 50%;
    border: 0px white solid;
    width: 100%;
    background-color: #424549	;
}

.right {
    width: 30%;
}

.bottom-bar {
    border-radius: 30px;
    background-color: #282b30;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px white solid;
}

.webcam {
  display: flex;
  justify-content: center;
  width: 100%;
}